@media only screen and (max-width: 960px) {
  .header-small{
    padding: inherit;
    background-color: #333333;
  }
  .name{
    font-size: 2.4em;
    text-align: center;
    margin: inherit;
    margin-bottom: 10px;
    color : #111111;
  }
  .job{
    font-size: 1.6em;
    text-align: center;
    margin: inherit;
    margin-top: 10px;
    color: #c7c7c7;
  }
  .content{
    margin-top: 0%;
  }
  .left-column{
      padding: 4%;
      padding-top: 4%;
      background-color: #ffffff;
  }
  .left-column .content-diplome h4{
    margin-bottom: inherit;
    margin-top: 4%;
    font-weight: bold;
    color : #111111;
  }
  .left-column .content-competences h4{
      margin-bottom: 1%;
      margin-top: 4%;
      font-weight: bold;
      color : #111111;
  }
  .left-column h3{
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 4%;
      margin-top: 8%;
  }
  .right-column h3{
      color: #aaaaaa;
      font-size: 1.35em;
      font-weight: 600;
      margin-top: 6%;
      margin-bottom: 4%;
  }
  .right-column h4{
      margin-bottom: 3%;
      color: #eeeeee;
      margin-top: 6%;
  }
  .contact{
    text-align: center;
    margin-top: 8%;
  }
  .contact p{
    margin:2%;
  }
}
@media only screen and (min-width: 960px) {
  .name{
    margin: inherit;
    margin-left: 0.5%;
    color : #111111;
  }
  .job{
    margin: inherit;
    color: #c7c7c7;
  }
  .left-column{
      padding: 6%;
      padding-top: 8%;
      background-color: #ffffff;
  }
  .content{
    margin-top: 8%;
  }
  .left-column .content-diplome h4{
    margin-bottom: inherit;
    margin-top: 2.9%;
    font-weight: bold;
    color : #111111;
  }
  .left-column .content-competences h4{
      margin-bottom: 1%;
      margin-top: 4%;
      font-weight: bold;
      color : #111111;
  }
  .right-column h3{
      color: #aaaaaa;
      font-size: 1.35em;
      font-weight: 600;
      margin-top: 15%;
      margin-bottom: 10%;
  }
  .left-column h3{
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 5%;
      margin-top: 10%;
  }
  .right-column h4{
      margin-bottom: 3%;
      color: #eeeeee;
      margin-top: 10%;
  }
  .contact{
    margin-top: 10%;
  }
  .contact p{
    margin:3%;
  }
}
@media only screen and (min-width: 1150px) {
  .cv{
    width: 1150px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .name{
    margin: inherit;
    margin-left: 0.5%;
    color : #111111;
  }
  .job{
    margin: inherit;
    color: #c7c7c7;
  }
  .content{
    margin-top: 8%;
  }
  .left-column h3{
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 5%;
      margin-top: 10%;
  }
  .left-column .content-diplome h4{
    margin-bottom: inherit;
    margin-top: 2.9%;
    font-weight: bold;
    color : #111111;
  }
  .left-column .content-competences h4{
      margin-bottom: 1%;
      margin-top: 4%;
      font-weight: bold;
      color : #111111;
  }
  .right-column h3{
      color: #aaaaaa;
      font-size: 1.35em;
      font-weight: 600;
      margin-top: 15%;
      margin-bottom: 10%;
  }
  .right-column h4{
      margin-bottom: 3%;
      color: #eeeeee;
      margin-top: 10%;
  }
  .contact{
    margin-top: 10%;
  }
  .contact p{
    margin:3%;
  }
}
/* --------------------------------------- GLOBAL --------------------------------------- */

@font-face{
    font-family: 'open_sansregular';
    src: url('ressources/font/OpenSans-Regular-webfont.eot');
    src: url('ressources/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressources/font/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('ressources/font/OpenSans-Regular-webfont.woff') format('woff'),
         url('ressources/font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('ressources/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('ressources/font/georgia.woff') format('woff');
}
h3, h5{
    font-family: 'Lobster Two', cursive;
    font-style: italic;
    color: #d6a11c;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: 1px;
}
h1{
    font-family: 'open_sansregular';
    font-size: 1.9em;
}
h2{
    font-family: 'open_sansregular';
    font-size: 1.8em;
}
h4{
    font-family: 'open_sansregular';
    font-size: 1em;
    margin: inherit;
}
p{
    font-family: 'open_sansregular';
    font-size: 1em;
    margin: inherit;
    text-align: justify;
}
body{
    margin: auto;
    background-color: #525659;
}
/* --------------------------------------- LEFT COLUMN --------------------------------------- */

.left-column p{
    color: #444444;
    margin-top: 0;
    margin-bottom: 1%;
}
.left-column .content-competences p{
    margin-top: 1%;
    margin-bottom: 0;
    color: #444444;
    font-weight: 100;
}
.texte-bold{
  font-weight: bold;
  color : #111111;
}
.texte-color{
  color: #d6a11c;
}
.texte-date{
  color : #777777;
}
.barre-left{
  border-radius: 0.1em;
  width: 80%;
  background-color: #cccccc;
}

/* --------------------------------------- RIGHT COLUMN --------------------------------------- */

.right-column{
    padding: 3%;
    padding-top: 4%;
    background-color: #333333;
    color: #ffffff;
}
.right-column p{
    margin-top: 3%;
    margin-bottom: 3%;
    color: #eaeaea;
    font-weight: 100;
}
.barre-right{
  border-radius: 0.1em;
  width: 95%;
  background-color: #292929;
}
.footer-right-box{
  display: flex;
  justify-content: space-between;
}

/* --------------------------------------- PHOTO --------------------------------------- */

.photo{
    text-align: center;
    padding-bottom: 4%;
}
#photo{
    height: 70%;
    width: 70%;
}
#photo-small{
    height: 160px;
    width: 160px;
}

/* --------------------------------------- RIGHT LVL --------------------------------------- */

.lvl-anglais{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 25%;
  background-color: #d6a11c;
}
.lvl-office{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 15%;
  background-color: #d6a11c;
}
.lvl-c{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 52%;
  background-color: #d6a11c;
}
.lvl-html-css{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 18%;
  background-color: #d6a11c;
}
.lvl-joomla{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 45%;
  background-color: #d6a11c;
}
.lvl-php{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 60%;
  background-color: #d6a11c;
}
.lvl-mysql{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 60%;
  background-color: #d6a11c;
}

/* --------------------------------------- LEFT LVL --------------------------------------- */

.lvl-autonomie{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 15%;
  background-color: #696969;
}
.lvl-algorithmie{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 20%;
  background-color: #696969;
}
.lvl-gestion{
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  margin-right: 30%;
  background-color: #696969;
}
