@media only screen and (max-width: 960px) {
  .header-small{
    padding: inherit;
    background-color: #333333;
  }
  .name{
    font-size: 2.4em;
    text-align: center;
    margin: inherit;
    margin-bottom: 10px;
    color : #111111;
  }
  .job{
    font-size: 1.5em;
    text-align: center;
    margin: inherit;
    margin-top: 10px;
    color: #111111;
  }
  .content{
    margin-top: 0%;
  }
  .right-column{
      padding: 4%;
      padding-top: 4%;
      background-color: #ffffff;
  }
  .right-column .content-diplome h4{
    margin-bottom: inherit;
    margin-top: 4%;
    font-weight: bold;
    color : #111111;
  }
  .right-column .content-competences h4{
      margin-bottom: 1%;
      margin-top: 4%;
      font-weight: bold;
      color : #111111;
  }
  .right-column h3{
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 4%;
      margin-top: 8%;
  }
  .left-column h3{
    color: #feca07;
    font-size: 1.35em;
    text-align: center;
    font-weight: 600;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 12%;
    margin-bottom: inherit;
    background-color: #404040;
}
  .left-column h4{
      margin-bottom: 3%;
      color: #eeeeee;
      margin-top: 6%;
  }
  .contact{
    text-align: center;
    margin-top: 8%;
  }
  .contact p{
    margin:2%;
  }
  .uk-grid{
    padding-left: 0;
  }
}
@media only screen and (min-width: 960px) {
  .name{
    margin: inherit;
    margin-left: 0.5%;
    color : #111111;
  }
  .job{
    margin: inherit;
    color: #111111;
  }
  .right-column{
      padding: 6%;
      padding-top: 8%;
      background-color: #ffffff;
  }
  .content{
    margin-top: 8%;
  }
  .right-column .content-diplome h4{
    margin-bottom: inherit;
    margin-top: 2.9%;
    font-weight: bold;
    color : #111111;
  }
  .right-column .content-competences h4{
      margin-bottom: 1%;
      margin-top: 4%;
      font-weight: bold;
      color : #111111;
  }
  .left-column h3{
    color: #feca07;
    font-size: 1.35em;
    text-align: center;
    font-weight: 600;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 12%;
    margin-bottom: inherit;
    background-color: #404040;
}
  .right-column h3{
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 5%;
      margin-top: 10%;
  }
  .left-column h4{
      margin-bottom: 3%;
      color: #eeeeee;
      margin-top: 10%;
  }
  .contact{
    margin-top: 10%;
  }
  .contact p{
    margin:3%;
  }
}
@media only screen and (min-width: 1150px) {
  .cv{
    width: 1150px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
  }
  .name{
    margin: inherit;
    margin-left: 0.5%;
    color : #111111;
  }
  
  .job{
    margin: inherit;
    color: #111111;
  }
  .content{
    margin-top: 8%;
  }
  .right-column h3{
      font-size: 1.35em;
      font-weight: 600;
      margin-bottom: 5%;
      margin-top: 10%;
  }
  .right-column .content-diplome h4{
    margin-bottom: inherit;
    margin-top: 2%;
    font-weight: bold;
    color : #111111;
  }
  .right-column .content-competences h4{
      margin-bottom: 1%;
      margin-top: 4%;
      font-weight: bold;
      color : #111111;
  }
  .left-column h3{
      color: #feca07;
      font-size: 1.35em;
      text-align: center;
      font-weight: 600;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-top: 12%;
      margin-bottom: inherit;
      background-color: #404040;
  }
  .left-column h4{
      margin-bottom: 3%;
      color: #feca07;
      margin-top: 10%;
  }
  .contact{
    margin-top: 10%;
  }
  .contact p{
    margin:0%;
    line-height: 1.3em;
  }
}
/* --------------------------------------- GLOBAL --------------------------------------- */

@font-face{
    font-family: 'open_sansregular';
    src: url('ressources/font/OpenSans-Regular-webfont.eot');
    src: url('ressources/font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ressources/font/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('ressources/font/OpenSans-Regular-webfont.woff') format('woff'),
         url('ressources/font/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('ressources/font/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Georgia Regular'), url('ressources/font/georgia.woff') format('woff');
}
h3{
  font-family: 'open_sansregular';
    color: #111111;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: 1px;
}
h1{
    font-family: 'open_sansregular';
    font-size: 2.2em;
}
h2{
    font-family: 'open_sansregular';
    font-size: 1.3em;
}
h4{
    font-family: 'open_sansregular';
    font-size: 1em;
    margin: inherit;
}
h5{
  font-family: 'open_sansregular';
    color: #111111;
    font-size: 0.9em;
    margin: 7px 0;
}
p{
    font-family: 'open_sansregular';
    font-size: 1em;
    margin: inherit;
    text-align: justify;
}
body{
    margin: auto;
    background-color: #525659;
}
/* --------------------------------------- RIGHT COLUMN --------------------------------------- */

.right-column p{
    color: #444444;
    margin-top: 0;
    margin-bottom: 1%;
}
.right-column h3{
  border-bottom: 2px solid #feca07;
  line-height: 2.5em;
}
.right-column .fas {
  color: #feca07;
  margin-right:4%;
  margin-left: 1%;
}
.right-column .far {
  color: #feca07;
  margin-right:4%;
  margin-left: 1%;
}
.right-column .content-competences p{
    margin-top: 1%;
    margin-bottom: 0;
    color: #444444;
    font-weight: 100;
}
.right-column .content-diplome p{
  letter-spacing: 0.02em;
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
}
.texte-bold{
  font-weight: bold;
  color : #111111;
}
.texte-color{
  color: #d6a11c;
}
.texte-date{
  color : #777777;
}
.barre-right{
  border-radius: 0.1em;
  width: 80%;
  background-color: #cccccc;
}
.yellow{
  color : #feca07;
}
.border-bottom{
  border-bottom: 2px solid #feca07;
}
.content-date-lieu{
  display: flex;
}
.date-lieu{
  margin-left: 10%;
}
/* --------------------------------------- LEFT COLUMN --------------------------------------- */

.left-column{
    padding: 0;
    padding-top: 4%;
    background-color: #feca07;
    color: #111111;
}
.left-column p{
    margin-top: 10%;
    margin-bottom: 3%;
    margin-left: 12%;
    margin-right: 12%;
    color: #111111;
    font-weight: 100;
}
.left-column .propos p{
  margin-top: 10%;
  margin-bottom: 3%;
  margin-left: 12%;
  margin-right: 12%;
  color: #111111;
  letter-spacing: 0.02em;
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 80%;
}

.barre-left{
  border-radius: 0.1em;
  width: 95%;
  background-color: #292929;
}
.footer-left-box{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.footer-left-box .fas{
  font-size: 2.2em;
  margin: 6%;
  color : #292929;
}

/* --------------------------------------- PHOTO --------------------------------------- */

.photo{
    text-align: center;
}
#photo{
    height: 55%;
    width: 55%;
    -webkit-filter: drop-shadow(0px 0px 3px #222 );
    filter: drop-shadow(0px 0px 3px #222);
}
#photo-small{
    height: 160px;
    width: 160px;
}